body{
  margin:0;
  font-family: 'Inter', sans-serif;
  background: #111;
  color: #fff;
}

/* HEADER */
header{
  background:#3c32ff;
  padding:10px;
  text-align:center;
  border-bottom:2px solid #00ff88;
}
header h2{ margin:0; font-size:18px; }
#contadorVisitas{ font-size:12px; opacity:.8; display:block; }

.temas{
  margin-top:6px;
}
.temas button{
  font-size:11px;
  padding:4px 10px;
  border-radius:5px;
  border:none;
  cursor:pointer;
  margin:0 3px;
  background:#222;
  color:#fff;
  transition:0.2s;
}
.temas button.active,
.temas button:hover{
  background:#00ff88;
  color:#111;
  transform:scale(1.05);
}

/* LOGIN */
#login{
  margin-top:80px;
  text-align:center;
  animation:fadeIn .8s ease;
}
#login input{
  width:120px;
  padding:8px;
  border:2px solid #00ff88;
  border-radius:6px;
  font-size:16px;
  outline:none;
  background:#000;
  color:#fff;
}
#login button{
  margin-left:6px;
  padding:8px 14px;
  border:none;
  background:#00ff88;
  color:#111;
  border-radius:6px;
  font-weight:600;
  cursor:pointer;
  transition:.2s;
}
#login button:hover{ transform:scale(1.1); }

/* SALUDO */
#saludo{
  text-align:center;
  margin-top:10px;
  animation:fadeIn .6s ease;
}
#saludoTexto{
  font-size:20px;
  font-weight:600;
  color:#00ff88;
}

/* LISTA */
#listaClientes{
  padding:12px;
  animation:fadeIn .6s ease;
}

/* TARJETAS */
.card{
  background:#1a1a1a;
  border-left:4px solid #00ff88;
  margin-bottom:12px;
  padding:10px;
  border-radius:6px;
  transition:.2s;
}
.card:active{
  transform:scale(.98);
  box-shadow:0 0 12px #00ff88aa;
}

.card h4{ margin:0 0 4px 0; font-size:16px; color:#fff; }
.card small{ opacity:.8; }

.estado{
  text-align:center;
  margin-top:6px;
  padding:6px;
  border-radius:5px;
  background:#333;
  font-size:13px;
  cursor:pointer;
  transition:.3s;
}
.estado:hover{
  transform:scale(1.05);
}

/* OCULTAR */
.hidden{ display:none; }

/* ANIMACIONES */
@keyframes fadeIn{
  from{opacity:0; transform:translateY(8px);}
  to{opacity:1; transform:translateY(0);}
}
